set ignorecase
set smartcase
set scrolloff=2 " 3 lines above/below cursor when scrolling

set clipboard+=unnamed
set multiple-cursors

let mapleader = " "
nmap <leader>. :action GotoFile<cr>
nmap <leader>fr :action RecentFiles<cr>

nmap <leader>/ :action Find<cr>
nmap <leader>\ :action FindInPath<cr>

nmap ; :

inoremap jk <Esc>
cnoremap jk <Esc>

nmap j gj
nmap k gk

nmap <C-h> <c-w>h
nmap <C-l> <c-w>l
nmap <C-k> <c-w>k
nmap <C-j> <c-w>j

nmap <leader>E :action Tool_External Tools_emacsclient<cr>
