/*  
    Discord Doom-Vibrant
    https://github.com/joinemm/discord-css
*/

/* define colors */
:root {
    --background-primary: #242730;
    --background-secondary: #2a2e38;
    --background-secondary-alt: #2a2e38;
    --background-tertiary: #242730;
    --background-accent: #242730;
    --channeltextarea-background: #242730;
    --text-normal: #6c605a;
    --text-muted: #ce9c85;
    --channels-default: #a09c80;
    --interactive-normal: #242730;
    --interactive-hover: #a09c80;
    --interactive-active: #a09c80;
    --interactive-muted: #665c54;
    --header-primary: #6c605a;
    --header-secondary: #5c605a;
    --background-floating: #242730;
    --scrollbar-auto-thumb: #1d2021;
    --scrollbar-auto-track: #3c3836;
    --text-link: #8f8678;
    --selection: #92837480; 
}

* {
    font-family: Liga SFMono Nerd Font;
}

/* main backgrounds */
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track,
.theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
.theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track,
.theme-dark .da-messageGroupWrapper,
.theme-dark .bodyInner-245q0L,
.theme-dark .bottomDivider-1K9Gao,
.theme-dark .headerNormal-T_seeN,
.theme-dark .root-1gCeng,
.tabBody-3YRQ8W,
.theme-dark .container-1D34oG
.theme-dark .uploadModal-2ifh8j,
.theme-dark .modal-yWgWj-,
.uploadModal-2ifh8j,
.theme-dark .emojiAliasInput-1y-NBz .emojiInput-1aLNse,
.theme-dark .selected-1Tbx07,
.theme-dark .option-96V44q.selected-rZcOL- {
    background-color: var(--background-primary) !important;
}

.da-popouts .da-container,
.da-friendsTableHeader,
.da-friendsTable,
.da-autocomplete,
.da-themedPopout,
.da-footer,
.da-userPopout>*,
.da-autocompleteHeaderBackground,
.theme-dark .bar-2Qqk5Z,
.theme-dark .payment-xT17Mq,
.theme-dark .paymentPane-3bwJ6A,
.theme-dark .paginator-166-09,
.theme-dark .codeRedemptionRedirect-1wVR4b,
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-dark .footer-3mqk7D,
.theme-dark .footer-2gL1pp,
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-dark .inset-3sAvek,
.theme-dark .quickMessage-1yeL4E,
.wrapper-2aW0bm,
.theme-dark .autocomplete-1vrmpx,
.searchBar-3dMhjb,
.theme-dark .body-3iLsc4,
.theme-dark .footer-2gL1pp,
.theme-dark .footer-1fjuF6,
.cardPrimary-1Hv-to,
.theme-dark .card-FDVird:before,
.theme-dark .colorPickerCustom-2CWBn2 {
    background-color: var(--background-secondary);
}

/* scrollbars */
.da-messagesWrapper .da-scroller::-webkit-scrollbar,
.da-messagesWrapper .da-scroller::-webkit-scrollbar-track-piece {
    background-color: var(--background-tertiary) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}

.da-scrollerThemed .da-scroller::-webkit-scrollbar-thumb,
.da-scrollerWrap .da-scroller::-webkit-scrollbar-thumb {
    background-color: var(--background-secondary) !important;
    border-color: var(--background-tertiary) !important;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    background-color: var(--background-primary) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}

.theme-dark .selectorSelected-1_M1WV,
.newMessagesBar-mujexs,
.theme-dark .searchAnswer-3Dz2-q,
.theme-dark .searchFilter-2ESiM3,
.theme-dark .progress-1IcQ3A,
.themeDefault-24hCdX,
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    background-color: var(--background-accent);
}

.theme-dark .container-3ayLPN {
    background-color: var(--background-tertiary);
}

.theme-dark .option-96V44q.selected-rZcOL- {
    background-color: var(--background-floating);
}

.theme-dark .pageIndicator-1gAbyA,
.theme-dark .pageButtonNext-V2kUq0,
.theme-dark .pageButtonPrev-1Y-47D {
    border-color: var(--background-accent);
}

.scroller-2FKFPG::-webkit-scrollbar,
.barButtonBase-3UKlW2,
.theme-dark .scrollerThemed-2oenus.themeGhostHairline-DBD-2d .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background: transparent;
}

/* remove gradients */
.theme-dark .da-option:after, .theme-dark .option-96V44q:after {
    background-image: none !important;
}

/* search text */
.theme-dark .searchOption-zQ-1l6 .answer-1n6g43,
.theme-dark .option-96V44q .filter-3Y_im- {
    color: var(--text-muted)
}

.theme-dark .searchOption-zQ-1l6 .filter-3Y_im- {
    color: var(--text-normal)
}

/* side panel bottom section border */
.panels-j1Uci_ {
    border-top: 2px solid var(--background-modifier-accent);
}

.container-1giJp5 {
    border-width: 2px;
}

/* selected text */
::selection {
    background: var(--selection);
}

/* hide that stupid nitro gift button */
.button-38aScr[aria-label="Send a gift"] {
    display: none;
}

/* hide blocked messages */
[class="groupStart-23k01U"] {
	display: none;
}

/* enhanceddiscord server count text */
.theme-dark .keybind-KpFkfr {
    color: var(--channels-default)
}

/* unloaded emojis */
.theme-dark .imageLoading-bpSr0M {
    background-image: none;
    background: var(--background-primary);
    border-radius: 50%;
}

.sprite-2iCowe {
	filter: none !important;
}

/* Doom style (dark) (c) Pavel Pertsev (original style at https://github.com/morhetz/gruvbox) */

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #242730;
}

.hljs,
.hljs-subst {
  color: #ebdbb2;
}

/* Doom Red */
.hljs-deletion,
.hljs-formula,
.hljs-keyword,
.hljs-link,
.hljs-selector-tag {
  color: #fb4934;
}

/* Doom Blue */
.hljs-built_in,
.hljs-emphasis,
.hljs-name,
.hljs-quote,
.hljs-strong,
.hljs-title,
.hljs-variable {
  color: #83a598;
}

/* Doom Yellow */
.hljs-attr,
.hljs-params,
.hljs-template-tag,
.hljs-type {
  color: #fabd2f;
}

/* Doom Purple */
.hljs-builtin-name,
.hljs-doctag,
.hljs-literal,
.hljs-number {
  color: #8f3f71;
}

/* Doom Orange */
.hljs-code,
.hljs-meta,
.hljs-regexp,
.hljs-selector-id,
.hljs-template-variable {
  color: #fe8019;
}

/* Doom Green */
.hljs-addition,
.hljs-meta-string,
.hljs-section,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-string,
.hljs-symbol {
  color: #b8bb26;
}

/* Doom Aqua */
.hljs-attribute,
.hljs-bullet,
.hljs-class,
.hljs-function,
.hljs-function .hljs-keyword,
.hljs-meta-keyword,
.hljs-selector-pseudo,
.hljs-tag {
  color: #8ec07c;
}

/* Doom Gray */
.hljs-comment {
  color: #928374;
}

/* Doom Purple */
.hljs-link_label,
.hljs-literal,
.hljs-number {
  color: #d3869b;
}

.hljs-comment,
.hljs-emphasis {
  font-style: italic;
}

.hljs-section,
.hljs-strong,
.hljs-tag {
  font-weight: bold;
}

/* Auto Hide by \xynstr#0300 */
    /* Transition */
    .sidebar-2K8pFh:hover {
        width: 240px !important;
        transition: 0.1s ease !important;
        transition-delay: 0.3s !important;
    }
    /* Detects screen size to show channels if screen is big enough */
    @media screen and (max-width: 1100px) {
        .sidebar-2K8pFh {
            width: 0px !important;
            transition: 0.3s ease !important;
            position: fixed !important;
            height: calc(100% - 47.988px) !important;
            z-index: 1 !important;
            bottom: 0px !important;
        }
        .wrapper-3NnKdC:hover + .base-3dtUhz > .content-98HsJk > .sidebar-2K8pFh {
            width: 240px !important;
        }
        .sidebar-2K8pFh:hover {
            width: 240px !important;
        
