alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ll='exa -lF --color-scale --no-user --no-time --no-permissions --group-directories-first -a'
alias ls='exa -F --group-directories-first -a'
alias tree='tree -C'
alias cat='bat --paging=never -p'

alias path='echo -e ${PATH//:/\\n}'

alias git-rebase='git rebase -i HEAD~2'

alias update='brew update; brew upgrade; brew cleanup'
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

alias reload="tmux source ~/.config/tmux/tmux.conf"
alias widgets='cd ~/Library/Application\ Support/Übersicht/widgets'
alias localip="ipconfig getifaddr en0"
alias stats="history | awk '{CMD[\$2]++;count++;}END { for (a in CMD)print CMD[a] \" \" CMD[a]/count*100 \"% \" a;}' | grep -v \"./\" | column -c3 -s \" \" -t | sort -nr | nl |  head -n10"

verify-exe() {
    xattr -d com.apple.quarantine "$1"
}
