* {
    border: none;
    border-radius: 0;
    font-family: Liga SFMono Nerd Font;
    font-size: 11px;
    min-height: 0;
    margin: 0 0px;
}

window#waybar {
    background-color: #2a2e38;
    border-bottom: none;
    color: #bbc2cf;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    color: #51afef;
    background-color: transparent;
    border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: none;
}

#workspaces button.focused {
    background-color: #51afef;
    color: #282828;
    border-bottom: none;
}

#workspaces button.urgent {
    background-color: #2c303c;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 14px;
    margin: 0 0px;
    color: #ffffff;
}

#battery {
    background-color: #2a2e38;
    color: #bbc2cf;
}

#battery.charging {
    color: #bbc2cf;
    background-color: #2a2e38;
}

@keyframes blink {
    to {
        background-color: #2a2e38;
        color: #bbc2cf;
    }
}

#battery.critical:not(.charging) {
    background-color: #bbc2cf;
    color: #bbc2cf;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #bbc2cf;
}

#cpu {
    background-color: #2a2e38;
    color: #bbc2cf;
}

#memory {
    background-color: #2a2e38;
    color: #bbc2cf;
}

#network {
    background-color: #2a2e38;
    color: #bbc2cf;
}

#network.disconnected {
    background-color: #2a2e38;
}

#pulseaudio {
    background-color: #2a2e38;
    color: #bbc2cf;
}

#pulseaudio.muted {
    background-color: #2a2e38;
    color: #bbc2cf;
}

#custom-media {
    background-color: #2a2e38;
    color: #bbc2cf;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #2a2e38;
    color: #bbc2cf;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2a2e38;
}

#idle_inhibitor {
    background-color: rgba(0, 0, 0, 0);
    color: #2a2e38;
    margin-right: 2px;
}

#idle_inhibitor.activated {
    background-color: #2a2e38;
    color: #bbc2cf;
    margin-right: 2px;
}
