window {
margin: 0px;
border: 2px solid #242730;
border-radius: 15px;
background-color: #242730;
font-family: Liga SFMono Nerd Font;
font-size: 14px;
}

#input {
margin: 15px;
border: 1px solid #242730;
border-radius: 15px;
color: #bbc2cf;
background-color: #2a2e38;
}

#input image {
	color: #bbc2cf;
}

#inner-box {
margin: 5px;
border: none;
padding-left: 10px;
padding-right: 10px;
background-color: #242730;
}

#outer-box {
margin: 5px;
border: none;
background-color: #242730;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #bbc2cf;
}

#entry {
	padding-left: 20px;
	padding-right: 20px;
}

#entry:selected {
	background-color: #51afef;
	font-weight: normal;
	border-radius: 15px;
}

#text:selected {
	background-color: #51afef;
	color: #242730;
	font-weight: normal;
}
