* {
  all: unset;
}

window {
  background: #282828;
  color: #ebdbb2;
  font-size: 14px;

  & > * {
    margin: 3px;
  }
}

.segment-top {
  margin-top: 10px;
}

.segment-bottom {
  margin-bottom: 10px;
}

.metric {
  background-color: #1d2021;
  padding: 5px 2px;
}
.metric-icon {
  font-family: "FontAwesome5Free";
  font-size: 0.7em;
}

.time {
  padding-top: 7px;
  padding-bottom: 7px;
  color: #a89984;
}
