* {
  all: unset;
}

window {
  background: #161616;
  color: #dde1e6;
  font-size: 13px;

  & > * {
    margin: 12px;
  }
}

.segment-top {
  font-family: "Liga SFMono Nerd Font";
  margin-top: 9px;
}

.segment-center {
  font-family: "Liga SFMono Nerd Font";
  color: #ffffff;
}

.segment-bottom {
  font-family: "Liga SFMono Nerd Font";
  margin-bottom: 9px;
}
