* { font-family: "Liga SFMono Nerd Font" !important; }

:root {
  --radius: 10px;
}

.scroller-WSmht3::-webkit-scrollbar,
.scroller-1ox3I2::-webkit-scrollbar,
.scroller-1bVxF5::-webkit-scrollbar,
.body-2wLx-E::-webkit-scrollbar {
  display: none;
}

/* remove right click buttons */
[id="user-context-roles"], [id="user-context-mention"], [id="user-context-add-friend"], [id="user-context-remove-friend"],
[id="user-context-block"], [id="user-context-note"], [id="message-mark-unread"], [id="message-tts"] {
  display: none;
}

/* move search to the right */
[class*="toolbar"] > [class*="search"] {
	order: 1;
}

/* Hide buttons */
[aria-label="Help"],
[aria-label^="Mute channel"],
[aria-label^="Show member list"],
[aria-label^="Start voice call"],
[aria-label^="Start video call"],
[aria-label^="Add friends to DM"],
[aria-label^="Threads"],
[aria-label^="Notification settings"],
[aria-label="Send a gift"],
[aria-label="Open sticker picker"],
[aria-label="Servers sidebar"] .none-2Eo-qx > .listItem-GuPuDH:nth-of-type(6), /* "download apps" button */
[aria-label="Servers sidebar"] .none-2Eo-qx > .listItem-GuPuDH:nth-of-type(7) /* "download apps" button */
{
	display: none !important;
}

/** hide sidebar **/
nav[aria-label="Servers sidebar"] {
    width: 0px;
}

/* Titlebar */
.title-31SJ6t {
  display: none !important;
}

/* unread mention indicator */
.unreadMentionsIndicatorTop-2bTgUU {
    display: none !important;
}
.unreadMentionsIndicatorTop-2bTgUU .bar-2eAyLE {
    display: none !important;
}
.unreadMentionsIndicatorBottom-3RJMnQ {
    display: none !important;
}
.unreadMentionsIndicatorBottom-3RJMnQ .bar-2eAyLE {
    display: none !important;
}
.unreadMentionsIndicatorTop-2bTgUU .bar-2eAyLE .text-2GsXbW,
.unreadMentionsIndicatorBottom-3RJMnQ .bar-2eAyLE .text-2GsXbW {
  display: none;
}

.unreadTop-1DJtGv,
.unreadBottom-3Ojk6R {
    display: none !important;
}

.unreadTop-1DJtGv .bar-2eAyLE,
.unreadBottom-3Ojk6R .bar-2eAyLE {
    display: none !important;
}

/* region selector */
.quickSelectPopout-2F0PXw {
  border-radius: var(--radius);
}
.quickSelectPopoutOption-2E2UmS:hover {
  background-color: #FAFAFA !important;
}

.newMessagesBar-1hF-9G {
  display: none !important;
}

.chat-2ZfjoI .chatHeaderBar-2fUORh {
  display: none !important;
}

/* --Blocked Messages -- TAKEN FROM GK
   To unblock go to activity > blocked
   --
* /
[class="groupStart-23k01U"] > div,
[class="groupStart-23k01U"] {
    margin: 0 !important;
    margin-left: -5.5rem !important;
    max-height: 0 !important;
    top: -9px;
    opacity: 0;
    z-index: 0 !important;
}

/* better chat box */
.scrollableContainer-15eg7h {
  background-color: #f7f7f7;
  transition: 0.25s;
  border: solid 2px transparent;
}

.scrollableContainer-15eg7h:hover {
  border: solid 2px #81a1c1;
}
.scrollableContainer-15eg7h:focus-within {
  border: solid 2px #81a1c1;
}
.channelTextArea-1VQBuV, .channelTextArea-1FufC0, .form-3gdLxP  {
  background: none;
}
.attachedBars-2BCP3l {
  margin: 0 20px 0 20px;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
}
.messagesErrorBar-1IQ1rH {
  margin: 0 20px 0 20px;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
}
.scroller-kQBbkU {
  margin-bottom: -100px;
  padding-bottom: 100px;
}
.form-3gdLxP:before {
  display: none;
}

/* reply background */
.repliedMessage-3Z6XBG {
  border-radius: var(--radius);
  padding: 5px 10px;
  transition: 0.25s;
  width: min-content;
  max-width: 800px;
}
.repliedMessage-3Z6XBG:hover {
  background-color: #FAFAFA;
}
.repliedMessage-3Z6XBG::before {
  margin-right: 0;
}

/* BubbleChannel List */
[class*="wrapper-"][class*="guilds-"][aria-label] {
    z-index: 30;
}

[class*="sidebar-"] [aria-controls*="popout_"]{
    z-index: 50;
}

/* BubbleChannel List */
[class*="base-"] [class*="sidebar-"] {
    position: fixed;
    z-index: 20;
    top: 0px;
    bottom: 0;
    left: -240px;
    transition: 0.6s ease;
}

/* Hover to channelname and sidebar */
[class*="base-"] [class*="sidebar-"]:hover {
    left: 8px;
}

/* Hover to channelname and sidebar to hide pill*/
[class*="base-"] [class*="sidebar-"]:hover [class*="modeUnread-"]::after {
    transform: scale(0);
    transition: transform 100ms;
}

/* Titlebar */
[class*="base-"] [class*="title-"] {
    z-index: 10;
}

/* Add mask for titlebar */
[class*="base-"] [class*="sidebar-"]::before {
    content: "";
    position: fixed;
    left: 72px;
    top: 20px;
    width: 160px;
    height: 48px;
    z-index: 30;
}

/* Unread Channel Pill */
[class*="base-"] [class*="sidebar-"] [class*="modeUnread-"]::after {
    content: "";
    position: fixed;
    border-radius: 0 4px 4px 0;
    top: 41px;
    left: 8px;
    width: 4px;
    height: 8px;
    background-color: var(--text-muted);
}

/* Move the mask, pill, and channel down when streamer mode is enabled */
[class*="notice-"][class*="colorStreamerMode-"] + [class*="content-"] > [class*="sidebar-"],
[class*="notice-"][class*="colorStreamerMode-"] + [class*="content-"] > [class*="sidebar-"]::before {
    top: 58px;
}

[class*="notice-"][class*="colorStreamerMode-"] + [class*="content-"] > [class*="sidebar-"] [class*="modeUnread-"]::after {
    top: 78px !important;
}

[aria-label="User area"] {
    background-color: var(--deprecated-card-editable-bg) !important;
}

/* better user popouts */
.userPopout-2j1gM4 {
  border-radius: var(--radius);
}
.userPopout-2j1gM4 .avatarWrapper-eenWra {
  top: 0;
  left: 50%;
  margin: 15px 0 0 -40px;
  z-index: 2;
}
.userPopout-2j1gM4 .avatar-2Vndt_ {
  border: none;
  background: none;
}
.userPopout-2j1gM4 .headerTop-3GPUSF {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  padding-top: 110px;
  padding-bottom: 20px;
}
.userPopout-2j1gM4 .headerTop-3GPUSF .headerText-1-WmDq {
  padding-bottom: 8px;
  z-index: 2;
}
.userPopout-2j1gM4 .banner-1YaD3N {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  position: absolute;
  height: 180px;
  -webkit-mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  z-index: 1;
}
.userPopout-2j1gM4 .profileBadges-2pItdR {
  max-width: unset;
  position: static;
  justify-content: center;
  z-index: 2;
}
.userPopout-2j1gM4 .profileBadges-2pItdR > * {
  margin: 0 2px;
}
.userPopout-2j1gM4 .profileBadges-2pItdR:empty {
  margin-bottom: 20px;
}
.userPopout-2j1gM4 .footer-3naVBw {
  position: absolute;
  background: transparent;
  right: -6px;
  top: 12px;
  z-index: 2;
}
.userPopout-2j1gM4 .footer-3naVBw .input-2g-os5 {
  background-color: #FAFAFA;
  width: 76px;
  height: 30px;
  border: none;
  transition: 0.2s ease;
}
.userPopout-2j1gM4 .footer-3naVBw .input-2g-os5:hover {
  background-color: #FAFAFA;
}
.userPopout-2j1gM4 .pencilContainer-18TrEJ {
  border-radius: var(--radius);
}
.userPopout-2j1gM4 .premiumIconWrapper-32h0Ri {
  top: 50px;
}
.userPopout-2j1gM4:hover .premiumIconWrapper-32h0Ri {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.userPopout-2j1gM4 .tgp-button {
  transform: translate3d(0,-5px,0);
  top: 50px;
  z-index: 2;
}
.userPopout-2j1gM4:hover .tgp-button {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.userPopout-2j1gM4 .scrollerSeparator-CHLxyV {
  box-shadow: none;
}
.userPopout-2j1gM4 .divider-1wtgZ3,
.userPopout-2j1gM4 .headerTagWithNickname-1U8zZH,
.userPopout-2j1gM4 .avatarHint-k7pYop {
  display: none;
}

/* avatar zoom on hover */
.avatar-2Vndt_ {
  transition: 0.2s;
}
.avatar-2Vndt_:hover{
  transform: scale(1.1);
}

/** role backgrounds instead of outlines **/
/* implimented by default on 2021-08-04/05 */
[class*="roleRemoveIcon-"] { position: absolute; }
[class*="role-"] {
	border:   none;
	overflow: hidden;
	z-index:  0;
	background-color: transparent !important;
}
[class*="role-"] > [class*="roleCircle-"]::after {
	background-color: inherit;
	pointer-events: none;
	display:   block;
	content:   '';
	opacity:   0.2;
	z-index:   -1;
	right:     -100px;
	min-width: 230px;
	height:    69px;
	position:  relative;
}

/** code block stuff **/
/* display language in top-right of code blocks */
code.hljs:not(.inline)::before {
	content:     attr(class);
	float:       right;
	max-width:   5.3rem;
	margin-top:  -8.6rem;
	line-height: 1.6rem;
	text-align:  right;
	font-size:   0.8rem;
	opacity:     0.6;
}
/* slightly cleaner */
code.hljs:not(.inline) {
	max-width: 560px;
	padding:   12px;
	border:    none;
}
/* remove ugly syntax highlighting */
pre > code,
pre > code * {
	color:       var(--header-secondary) !important;
	font-family: "Liga SFMono Nerd Font" !important;
	font-weight: normal !important;
	font-size:   1rem !important;
}
/* only highlight comments */
pre > code .hljs-comment {
	color: var(--text-muted) !important;
}

/** more compact **/
/* limit width of messages area to 1000px */
[class*="standardSidebarView"],
[class*="jumpToPresentBar-"],
[class*="typing-"],
[class*="channelTextArea"],
[class^="messagesWrapper-"] > * > [class*="scroller"],
[class*="autocomplete-"] {
	width:        100%;
	max-width:    1000px;
	margin-left:  auto;
	margin-right: auto;
}

/* smaller sidebar */
.sidebar-2K8pFh { width: 180px !important; }

.theme-light [class*="chatContent-"] [class*="username-"]:not([style]),
.theme-light {
    --background-primary: #FFFFFF !important;
	--background-secondary:	#ECEFF1 !important;
    --background-tertiary: #BOBEC5 !important ;
	--header-primary: #37474F;
	--header-secondary: #37474F;
	--text-normal: #37474F;
	--text-muted: #4A5057;
	--text-link: #673AB7;
    --channels-default: #37474F;
    --interactive-normal: #4A5057;
	--interactive-hover: #FFAB91;
	--interactive-active: #673AB7;
	--bd-blue: #4A5057 !important;
	--background-accent: #263238;
}

/* centered titlebar */
.title-31SJ6t {
  margin-left: auto;
  margin-right: auto;
  width: 64em;
}

/** always show time on messages **/
[class*="timestampVisibleOnHover"] { opacity: 1; }
