@-moz-document url(chrome://browser/content/browser.xhtml){
  #titlebar{ -moz-appearance: none !important; }

  @media (-moz-os-version: windows-win10){
    /* Next two variables are used by autohide_menubar.css */
    #toolbar-menubar{ --uc-menubar-extra-margin: 0px }
    :root[sizemode="maximized"] #toolbar-menubar{ --uc-menubar-extra-margin: 8px }
    
    :root[sizemode="maximized"][tabsintitlebar] :where(#browser,#customization-container,#toolbar-menubar){ margin-top: 8px }
  }

  #mainPopupSet,
  #browser,
  #customization-container
  ,#nav-bar, #PersonalToolbar/* Remove this row if you want tabs to be the top-most row */
  { -moz-box-ordinal-group: 0 }

  #toolbar-menubar{ position: fixed; display: flex; width: 100vw; top: 0px; }

  #toolbar-menubar > spacer{ flex-grow: 1 }

  #urlbar[breakout][breakout-extend]{
    display: flex !important;
    flex-direction: column-reverse;
    bottom: -2px !important; /* Change to 3-5 px if using compact_urlbar_megabar.css depending on toolbar density */
    top: auto !important;
  }

  .urlbarView-body-inner{ border-top-style: none !important; }

  /* Yeah, removes window controls. Likely not wanted on bottom row  */
  #TabsToolbar > .titlebar-buttonbox-container{ display: none }
  #toolbar-menubar > .titlebar-buttonbox-container{ order: 1000 }

  /* Fullscreen mode support */
  #navigator-toolbox[inFullscreen]{ margin-top: 0 !important }
  #navigator-toolbox[inFullscreen][style*="margin-top"]{ visibility: collapse }
  #fullscr-toggler{ bottom: 0; top: unset !important; }
