# 8Bitdo M30                  - http://www.8bitdo.com/     - http://www.8bitdo.com/m30/
# Firmware v1.13              - http://support.8bitdo.com/ - http://download.8bitdo.com/Firmware/Controller/M30/M30_Firmware_V1.13.zip

input_driver = "android"
input_device = "8Bitdo M30 GamePad"
input_device_display_name = "8Bitdo M30"

input_vendor_id = "11720"
input_product_id = "1617"

input_b_btn = "97"
input_y_btn = "96"
input_a_btn = "103"
input_x_btn = "100"
input_l_btn = "99"
input_r_btn = "102"
input_l2_btn = "104"
input_r2_btn = "105"
input_select_btn = "109"
input_start_btn = "108"

input_b_btn_label = "A"
input_y_btn_label = "B"
input_a_btn_label = "C"
input_x_btn_label = "X"
input_l_btn_label = "Y"
input_r_btn_label = "Z"
input_l2_btn_label = "L"
input_r2_btn_label = "R"
input_select_btn_label = "Select"
input_start_btn_label = "Start"

input_up_axis = "-1"
input_down_axis = "+1"
input_left_axis = "-0"
input_right_axis = "+0"

input_up_axis_label = "D-pad Up"
input_down_axis_label = "D-pad Down"
input_left_axis_label = "D-pad Left"
input_right_axis_label = "D-pad Right"

input_up_btn = "h0up"
input_down_btn = "h0down"
input_left_btn = "h0left"
input_right_btn = "h0right"

input_up_btn_label = "Dpad Up"
input_down_btn_label = "Dpad Down"
input_left_btn_label = "Dpad Left"
input_right_btn_label = "Dpad Right"
