# 8Bitdo F30 Arcade           - http://www.8bitdo.com/
# Firmware v1.42              - http://support.8bitdo.com/ - http://download.8bitdo.com/Firmware/Joystick/8Bitdo_joy_firmware_V1.42.zip

input_driver = "android"
input_device = "8Bitdo JoyStick    8Bitdo Joy    "
input_device_display_name = "8Bitdo F30 Arcade"

input_vendor_id = "32768"
input_product_id = "4098"

input_b_btn = "96"
input_y_btn = "99"
input_select_btn = "109"
input_start_btn = "108"
input_a_btn = "97"
input_x_btn = "100"
input_l_btn = "102"
input_r_btn = "103"
input_l2_btn = "104"
input_r2_btn = "105"

input_b_btn_label = "A/Cross"
input_y_btn_label = "X/Square"
input_select_btn_label = "Select"
input_start_btn_label = "Start"
input_a_btn_label = "B/Circle"
input_x_btn_label = "Y/Triangle"
input_l_btn_label = "LB/L1"
input_r_btn_label = "RB/R1"
input_l2_btn_label = "LT/L2"
input_r2_btn_label = "RT/R2"

input_up_axis = "-1"
input_down_axis = "+1"
input_left_axis = "-0"
input_right_axis = "+0"

input_up_axis_label = "Joystick Up"
input_down_axis_label = "Joystick Down"
input_left_axis_label = "Joystick Left"
input_right_axis_label = "Joystick Right"
