#GameBoy overlay made by ZilogZ92

overlays = 4

overlay0_overlay = gb.png
overlay0_name = gb
overlay1_overlay = gb2.png
overlay1_name = gb2
overlay2_overlay = gb_save.png
overlay2_name = gb_save
overlay3_overlay = gb2_save.png
overlay3_name = gb2_save

overlay0_full_screen = true
overlay1_full_screen = true
overlay2_full_screen = true
overlay3_full_screen = true

#Normal
overlay0_descs = 21
overlay0_desc0  = "left,100,1300,rect,50,50"
overlay0_desc1  = "right,280,1300,rect,50,50"
overlay0_desc2  = "up,195,1200,rect,50,50"
overlay0_desc3  = "down,195,1395,rect,50,50"
overlay0_desc4  = "select,370,1585,rect,74,74"
overlay0_desc5  = "start,570,1585,rect,74,74"
overlay0_desc6 = "b,770,1330,radial,74,74"
overlay0_desc7 = "a,965,1235,radial,74,74"
overlay0_desc8 = "menu_toggle,205,35,rect,120,30"
overlay0_desc9 = "left|up,98,1198,rect,34,34"
overlay0_desc10 = "left|down,98,1398,rect,34,34"
overlay0_desc11 = "right|up,290,1200,rect,34,34"
overlay0_desc12 = "right|down,290,1395,rect,34,34"
overlay0_desc13 = "overlay_next,615,190,rect,225,25"
overlay0_desc13_next_target = "gb_save"
overlay0_desc14  = "rewind,70,1850,rect,60,60"
overlay0_desc15  = "hold_fast_forward,1005,1850,rect,60,60"
overlay0_desc16 = "a|b,775,1105,radial,74,74"
overlay0_desc17 = "overlay_next,140,450,rect,60,60"
overlay0_desc17_next_target = "gb2"
overlay0_desc18  = "screenshot,535,510,rect,140,140"
overlay0_desc19  = "exit_emulator,1030,40,rect,32,32"
overlay0_desc20  = "slowmotion,475,1880,rect,95,42"

#Guide
overlay1_descs = 21
overlay1_desc0  = "left,100,1300,rect,50,50"
overlay1_desc1  = "right,280,1300,rect,50,50"
overlay1_desc2  = "up,195,1200,rect,50,50"
overlay1_desc3  = "down,195,1395,rect,50,50"
overlay1_desc4  = "select,370,1585,rect,74,74"
overlay1_desc5  = "start,570,1585,rect,74,74"
overlay1_desc6 = "b,770,1330,radial,74,74"
overlay1_desc7 = "a,965,1235,radial,74,74"
overlay1_desc8 = "menu_toggle,205,35,rect,120,30"
overlay1_desc9 = "left|up,98,1198,rect,34,34"
overlay1_desc10 = "left|down,98,1398,rect,34,34"
overlay1_desc11 = "right|up,290,1200,rect,34,34"
overlay1_desc12 = "right|down,290,1395,rect,34,34"
overlay1_desc13 = "overlay_next,615,190,rect,225,25"
overlay1_desc13_next_target = "gb2_save"
overlay1_desc14  = "rewind,70,1850,rect,60,60"
overlay1_desc15  = "hold_fast_forward,1005,1850,rect,60,60"
overlay1_desc16 = "a|b,775,1105,radial,74,74"
overlay1_desc17 = "overlay_next,140,450,rect,60,60"
overlay1_desc17_next_target = "gb"
overlay1_desc18  = "screenshot,535,510,rect,140,140"
overlay1_desc19  = "exit_emulator,1030,40,rect,32,32"
overlay1_desc20  = "slowmotion,475,1880,rect,95,42"

#Normal Save
overlay2_descs = 25
overlay2_desc0  = "left,100,1300,rect,50,50"
overlay2_desc1  = "right,280,1300,rect,50,50"
overlay2_desc2  = "up,195,1200,rect,50,50"
overlay2_desc3  = "down,195,1395,rect,50,50"
overlay2_desc4  = "select,370,1585,rect,74,74"
overlay2_desc5  = "start,570,1585,rect,74,74"
overlay2_desc6 = "b,770,1330,radial,74,74"
overlay2_desc7 = "a,965,1235,radial,74,74"
overlay2_desc8 = "menu_toggle,205,35,rect,120,30"
overlay2_desc9 = "left|up,98,1198,rect,34,34"
overlay2_desc10 = "left|down,98,1398,rect,34,34"
overlay2_desc11 = "right|up,290,1200,rect,34,34"
overlay2_desc12 = "right|down,290,1395,rect,34,34"
overlay2_desc13 = "overlay_next,615,190,rect,225,25"
overlay2_desc13_next_target = "gb"
overlay2_desc14  = "rewind,70,1850,rect,60,60"
overlay2_desc15  = "hold_fast_forward,1005,1850,rect,60,60"
overlay2_desc16 = "a|b,775,1105,radial,74,74"
overlay2_desc17 = "overlay_next,140,450,rect,60,60"
overlay2_desc17_next_target = "gb2_save"
overlay2_desc18 = "state_slot_increase,940,260,rect,50,50"
overlay2_desc19 = "state_slot_decrease,940,415,rect,50,50"
overlay2_desc20 = "save_state,940,570,rect,50,50"
overlay2_desc21 = "load_state,940,715,rect,50,50"
overlay2_desc22  = "screenshot,535,510,rect,140,140"
overlay2_desc23  = "exit_emulator,1030,40,rect,32,32"
overlay2_desc24  = "slowmotion,475,1880,rect,95,42"

#Guide Save
overlay3_descs = 25
overlay3_desc0  = "left,100,1300,rect,50,50"
overlay3_desc1  = "right,280,1300,rect,50,50"
overlay3_desc2  = "up,195,1200,rect,50,50"
overlay3_desc3  = "down,195,1395,rect,50,50"
overlay3_desc4  = "select,370,1585,rect,74,74"
overlay3_desc5  = "start,570,1585,rect,74,74"
overlay3_desc6 = "b,770,1330,radial,74,74"
overlay3_desc7 = "a,965,1235,radial,74,74"
overlay3_desc8 = "menu_toggle,205,35,rect,120,30"
overlay3_desc9 = "left|up,98,1198,rect,34,34"
overlay3_desc10 = "left|down,98,1398,rect,34,34"
overlay3_desc11 = "right|up,290,1200,rect,34,34"
overlay3_desc12 = "right|down,290,1395,rect,34,34"
overlay3_desc13 = "overlay_next,615,190,rect,225,25"
overlay3_desc13_next_target = "gb2"
overlay3_desc14  = "rewind,70,1850,rect,60,60"
overlay3_desc15  = "hold_fast_forward,1005,1850,rect,60,60"
overlay3_desc16 = "a|b,775,1105,radial,74,74"
overlay3_desc17 = "overlay_next,140,450,rect,60,60"
overlay3_desc17_next_target = "gb_save"
overlay3_desc18 = "state_slot_increase,940,260,rect,50,50"
overlay3_desc19 = "state_slot_decrease,940,415,rect,50,50"
overlay3_desc20 = "save_state,940,570,rect,50,50"
overlay3_desc21 = "load_state,940,715,rect,50,50"
overlay3_desc22  = "screenshot,535,510,rect,140,140"
overlay3_desc23  = "exit_emulator,1030,40,rect,32,32"
overlay3_desc24  = "slowmotion,475,1880,rect,95,42"