name: "nix-config format check"
on:
  pull_request:
  push:
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3.5.3
      with:
          fetch-depth: 0
    - uses: cachix/install-nix-action@v22
      with:
        install_url: https://github.com/numtide/nix-unstable-installer/releases/download/nix-2.10.0pre20220629_b7eb4ac/install
        extra_nix_config: |
          experimental-features = nix-command flakes
    - run: nix run nixpkgs#nixpkgs-fmt -- --check ./